/* some style */
.ufc-screen {
    background-color: black;
    color: yellow;
    display: inline-block;
    margin: 4px;
    padding: 0 7px 4 7px;
}

.ufc-screen table {
    color: yellow;
}

#diagram {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

#inputs {
    display: inline-block;
    vertical-align: middle;
}

#profile-plan {
    display: inline-block;
    vertical-align: middle;
    border: solid 1px black;
    width: 400px;
    height: 400px;
}

#debug {
    display: none;
}

.invalid {
    background-color: pink;
}

.lock-trigger {
    background-image: url("unlocked.png");
    display: inline-block;
    width: 16px;
    height: 16px;
}

.lock-trigger.locked {
    background-image: url("locked.png");
}


